{% macro footer_content() %}
<div id="footer"
     hx-swap-oob="true"
     class="grid grid-cols-2 bg-champagne-pink justify-items-center w-full">
    <p></p>
    <div>
        <p>made with <a class="underline"
               href="https://github.com/anybote/lighthouse">lighthouse</a></p>
    </div>
</div>
{% endmacro %}